<!-- <body class="main">
  <div class="header">
    <div class="head" fxLayout="row">
      <div class="sidnav">
        <mat-sidenav-container
          class="example-container"
          fxLayoutAlign="start center"
        >
          <mat-sidenav #sidenav mode="side" fxLayoutAlign="center center">
            <mat-nav-list class="margintop">
              <a mat-list-item routerLink="/home" (click)="sidenav.close()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
              </a>
              <a mat-list-item routerLink="/aboutme" (click)="sidenav.close()">
                <mat-icon>people</mat-icon>
                <span class="nav-caption">AboutMe</span>
              </a>
              <a mat-list-item routerLink="/home" (click)="sidenav.close()">
                <mat-icon>email</mat-icon>
                <span class="nav-caption">ContactMe</span>
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <button
              class="btn-position"
              mat-icon-button
              (click)="sidenav.toggle()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>

      <div
        class="content"
        fxFlex
        fxLayoutAlign="center center"
        fxLayout="column"
      >
        <div fxLayoutAlign="center center">
          <mat-card
            class="form-container"
            fxLayoutAlign="center center"
            fxLayout="column"
          >
            <div
              class="cards, animation"
              fxLayoutAlign="center center"
              fxLayoutGap="10rem"
            >
              <mat-card
                class="card"
                fxLayoutAlign="start center"
                fxLayout="column"
              >
                <mat-card-header>
                  <mat-card-title>About me</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and
                    distinct spitz breeds of dog from Japan. A small, agile dog
                    that copes very well with mountainous terrain, the Shiba Inu
                    was originally bred for hunting. The Shiba Inu is the
                    smallest of the six original and distinct spitz breeds of
                    dog from Japan. A small, agile dog that copes very well with
                    mountainous terrain, the Shiba Inu was originally bred for
                    hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button
                    mat-button
                    class="card-button"
                    fxLayoutAlign="center center"
                    routerLink="/aboutme"
                  >
                    Continue
                  </button>
                </mat-card-actions>
              </mat-card>

              <mat-card
                class="card"
                fxLayoutAlign="start center"
                fxLayout="column"
              >
                <mat-card-header>
                  <mat-card-title>Contact me</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <p>
                    Maryam Hospital, West Arghavan Alley, 45 Meters Golshahr
                    Ave, Karaj, Alborz, Iran<br />
                    +982633509323<br />
                    +982633502347<br />
                    info@maryamhospital.ir<br />
                    maryamhospital.ir@gmail.com
                  </p>
                </mat-card-content>
                <mat-card-actions> </mat-card-actions>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body> -->






<body class="main2">
  <div class="header2">
    <div class="head2" fxLayout="row">
      <div class="sidnav2">
        <mat-sidenav-container
          class="example-container2"
          fxLayoutAlign="start center"
        >
          <mat-sidenav #sidenav mode="side" fxLayoutAlign="center center">
            <mat-nav-list class="margintop2">
              <a mat-list-item routerLink="/home" (click)="sidenav.close()">
                <mat-icon>home</mat-icon> <span class="nav-caption2">Home</span>
              </a>
              <a mat-list-item routerLink="/aboutme" (click)="sidenav.close()">
                <mat-icon>people</mat-icon>
                <span class="nav-caption2">AboutMe</span>
              </a>
              <a mat-list-item routerLink="/home" (click)="sidenav.close()">
                <mat-icon>email</mat-icon>
                <span class="nav-caption2">ContactMe</span>
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <button
              class="btn-position2"
              mat-icon-button
              (click)="sidenav.toggle()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>

      <div
        class="content2"
        fxFlex
        fxLayoutAlign="center center"
        fxLayout="column"
      >
        <div fxLayoutAlign="center center">
          <mat-card
            class="form-container2"
            fxLayoutAlign="center center"
            fxLayout="column"
          >
            <div
              class="cards2, animation"
              fxLayoutAlign="center center"
              fxLayoutGap="10rem"
            >
              <mat-card
                class="card2"
                fxLayoutAlign="start center"
                fxLayout="column"
              >
                <mat-card-header>
                  <mat-card-title>About me</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and
                    distinct spitz breeds of dog from Japan. A small, agile dog
                    that copes very well with mountainous terrain, the Shiba Inu
                    was originally bred for hunting. The Shiba Inu is the
                    smallest of the six original and distinct spitz breeds of
                    dog from Japan. A small, agile dog that copes very well with
                    mountainous terrain, the Shiba Inu was originally bred for
                    hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button
                    mat-button
                    class="card-button2"
                    fxLayoutAlign="center center"
                    routerLink="/aboutme"
                  >
                    Continue
                  </button>
                </mat-card-actions>
              </mat-card>

              <mat-card
                class="card2"
                fxLayoutAlign="start center"
                fxLayout="column"
              >
                <mat-card-header>
                  <mat-card-title>Contact me</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <p>
                    Maryam Hospital, West Arghavan Alley, 45 Meters Golshahr
                    Ave, Karaj, Alborz, Iran<br />
                    +982633509323<br />
                    +982633502347<br />
                    info@maryamhospital.ir<br />
                    maryamhospital.ir@gmail.com
                  </p>
                </mat-card-content>
                <mat-card-actions> </mat-card-actions>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body>